

body {
    text-align: center;
    height: 85%;
}

.no_display{
    display: none;
}

div {
    text-align: center;
}

.inline {
    display: inline-block;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

.g-button-icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    align-self: center;
    display: inline-flex;
    margin: 4px;
}

.g-button {
    display: flex;
    align-items: center;
    height: 36px;
    width: 120px;
    background-color: #FCFDFD;
    border: none;
    color: rgb(117, 117, 117);
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    border-radius: 1px;
    text-decoration: none;
    display: inline-flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    overflow: hidden;
}

.li-button {
    color: rgb(117, 117, 117);
    font-family: Roboto, arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 18px;
    margin-right: 6px;

}

.w3-content {
    text-align: center;
}

.button {
  background-color: transparent; /* Green */
  font-weight: bold;
  border: none;
  color: whitesmoke;
  padding: 0.4rem 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
}

.simple_text {
    font-family: monospace;
    font-size: 1.5rem;
    color: whitesmoke;
}

form {
    font-family: monospace;
    display: inline-block;
    font-size: 5.5vmin;
    text-align: left;
    color: whitesmoke;
}

form input {
    font-size: inherit;
}

.title {
    font-family: monospace;
    align-self: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    margin: 10vmin;
    font-size: 10vmin;
}

footer {
    font-family: monospace;
    align-self: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 1px;
    border-top: 1px solid whitesmoke;
    margin: 10rem 10rem 1rem 10rem;
    padding: 0;
}

p {
    font-family: monospace;
    align-self: center;
    align-items: center;
    background-color: whitesmoke;
    color: #667be5;
    font-size: 2rem;
    text-align: center;
    font-style: italic
}
.footer_img {
    align-self: center;
    height: 2rem;
    vertical-align: middle;
}

.title_img {
    align-self: center;
    width: 70vmin;
    vertical-align: middle;
    margin: 5vmin 5vmin 10vmin;
}
